body{
    color: ;
}

.noto-serif{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.navbar,.item-1{
    display: flex;
    justify-content: space-between;
    color: #8987A1;
    align-items: center;
}
.menu-list{
    display: flex;
}
.item,.item-1{
    list-style: none;
    margin: 10px;
}
.menu{
    text-decoration: none;
}
.test-style{
    color: black;
    font-weight: bold;
}
@media screen and (max-width: 576px) {
    .item{
        display: none;
    }
    .navbar{
        justify-content: space-between;
       
    }
}
.head-sec{
    max-width: 1440px;
    margin: 30px 150px;
}
.bannar1{
    margin: 120px 150px;

}
.bn-head{
    color: #000000;
    font-weight: bold;
    font-size: 50px;
    white-space: nowrap;
}
.color-pr{
 color: #E95A08;
}
.head-p{
    color:rgba(0, 0, 0, 0.5);
}
.bn-flex{
    display: flex;
    width: 100%;
}
.cart-butt{
    background-color: #E95A08;
    color: white;
    padding: 10px 75px;
    border: none;
}
.bn-head2{
    font-size: 50px;
}
.color-bn2{
    color: #E95A08;
}
.head2-p{
    color: #8987A1 ;
    margin-top: 5px;
}
.card-had{
    text-align: center;
}
.flower-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
   
    margin: 30px 50px;
}

.flower-single {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

.car-title {
    margin-top: 10px;
}

.foot-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 30px 60px;
    background-color: #f8f8f8;
  }
  
  .f-li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .foot-f{
    align-items: flex-start;
    margin-top: 0px;
  }
  
  .f-li li {
    margin-bottom: 30px;
    color: #6B7280;
  }
  
  .img-re {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin: 0;
    justify-content: center;
  }
  
  .img-re img {
    width: 24px;
    height: 24px;
  }
  
  @media screen and (max-width: 578px) {
    .foot-sec {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
  }
  
  