body{
    color: ;
}

.noto-serif{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.navbar,.item-1{
    display: flex;
    justify-content: space-between;
    color: #8987A1;
    align-items: center;
}
.menu-list{
    display: flex;
}
.item,.item-1{
    list-style: none;
    margin: 10px;
}
.menu{
    text-decoration: none;
}
.test-style{
    color: black;
    font-weight: bold;
}
@media screen and (max-width: 576px) {
    .item{
        display: none;
    }
    .navbar{
        justify-content: space-between;
       
    }
}
.head-sec{
    max-width: 1440px;
    margin: 30px 150px;
}
.bannar1{
    margin: 120px 150px;

}
.bn-head{
    color: #000000;
    font-weight: bold;
    font-size: 50px;
    white-space: nowrap;
}
.color-pr{
 color: #E95A08;
}
.head-p{
    color:rgba(0, 0, 0, 0.5);
}
.bn-flex{
    display: flex;
    width: 100%;
}
.bn2-title{
    font-size: 22px;
}
.cart-butt{
    background-color: #E95A08;
    color: white;
    padding: 15px 85px;
    border: none;
}
.bn-head2{
    font-size: 50px;
}
.color-bn2{
    color: #E95A08;
}
.head2-p{
    color: #8987A1 ;
    margin-top: 5px;
}
.card-had{
    text-align: center;
}
.bn2-title{
    margin: 10px 50px;
}
.flower-list{
    margin: 120px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}